---
import Layout from "../../layouts/index.astro";
import Header from "../../components/Header.astro";
import Post from "../../components/Post.astro";
import { getPosts } from "../../utils/data";
import { setSinglePost } from "../../utils/request";

export async function getStaticPaths() {
  return getPosts().then((posts) =>
    posts.map((post) => ({
      params: { id: post.id },
      props: { post },
    }))
  );
}

setSinglePost(Astro.request);
const { post } = Astro.props;
---

<Layout>
  <Fragment slot="head">
    <title>Post | Nate's Feed</title>
  </Fragment>
  <Header back="/">Nate's Feed</Header>

  <ul class="container">
    <li>
      <Post {...post} />
    </li>
  </ul>
</Layout>

<style>
  ul {
    margin: 0 auto;
    min-height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
  }

  li + li {
    border-top: 1px solid var(--color-border);
  }
</style>
