---
import Layout from "../layouts/index.astro";
import Header from "../components/Header.astro";
import Post from "../components/Post.astro";
import Profile from "../components/Profile.astro";
import { getPosts } from "../utils/data";

const posts = await getPosts();
---

<Layout>
  <Fragment slot="head">
    <title>Nate's Feed</title>
  </Fragment>

  <Profile />
  <Header>Nate's Feed</Header>
  <ul class="container">
    {
      posts.map((post) => (
        <li>
          <Post {...post} />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    margin: 0 auto;
    min-height: 60vh;
  }

  li + li {
    border-top: 1px solid var(--color-border);
  }
</style>
