---
import config from "../../../config.json";
import ArrowLeft from "../icons/arrow-left.astro";

interface Props {
  back?: string;
}
const { back } = Astro.props;
---

<header>
  <div class="wrapper">
    <div class="arrow">
      {
        back && (
          <a href={back}>
            <span>
              <ArrowLeft />
            </span>
          </a>
        )
      }
    </div>
    <h2><slot>{config.profile.name}</slot></h2>
  </div>
</header>

<style>
  .arrow {
    --size: 3rem;
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    color: var(--color-muted);
    padding: 0.125rem;
    --size: 2rem;
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a:is(:hover, :focus) {
    color: white;
    border-radius: 999px;
    background: rgb(255 255 255 / 2%);
  }
  a :global(svg) {
    --size: 1.75rem;
    width: var(--size);
    height: var(--size);
    margin-left: 0.125rem;
  }
  header {
    z-index: 1;
    margin: 0 auto;
    margin-top: -3.5rem;
    max-width: 600px;
    border: 1px solid var(--color-border);
    border-top: 0;
    box-shadow: 0px 0.3px 2.2px rgb(18 18 18 / 2%),
      0px 0.8px 5.3px rgb(18 18 18 /28%), 0px 1.5px 10px rgb(18 18 18 /35%),
      0px 2.7px 17.9px rgb(18 18 18 /42%), 0px 5px 33.4px rgb(18 18 18 / 5%),
      0px 12px 80px rgb(18 18 18 / 7%);
    background: linear-gradient(
      to bottom,
      rgba(18 18 18 / 80%),
      rgba(18 18 18 / 100%)
    );
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
  }
  h2 {
    font-size: 1.25rem;
  }
</style>
