html {
  background: var(--color-background);
  color-scheme: dark;
  font-size: 16px;
  font-size: clamp(0.63rem, calc(-0.12rem + 3.31vw), 1.13rem);
}
body {
  block-size: 100%;
  min-block-size: 100dvb;
  font-size: 1.1rem;
}
:root {
  --color-background: rgb(18 18 18);
  --color-border: rgb(255 255 255 / 15%);
  --color-muted: rgb(255 255 255 / 67%);
  --color-accent: #1b99ff;
  --color-accent-rgb: 27 153 255;
  --color-warning: #e9503c;
  --color-warning-rgb: 233 80 60;
}
a {
  color: var(--color-accent);
}
code {
  font-size: 0.9em;
  font-family: "IBM Plex Mono", monospace;
}
.astro-code > code::before,
.astro-code > code::after {
  content: none;
}
